/* Web Fonts ----------------------- */

/* ovo radis ovako kada u retkim situacijama kada koristis font koji imas na kompu
@font-face {

  font-family:'Abolition Regular';
  src:url('../fonts/abolition-regular-webfont.woff') format('woff');

}
*/

body {

/*DUZA VERZIJA - SKRACENA JE ISPOD
  font-family: 'Work Sans', sans-serif;
  font-weight:300;
  line-height:1.5;             normalno je 1.2, 1.5 je preporuka za text
*/
  
  font: 300 100%/1.5 'Work Sans', sans-serif;
  /* ovih 100% oznacava font size koja je 100% od root velicine sto je u ovom slucaju 20px */
  color:#454959;
    
  margin: 1rem;
  
}

h1, h2 {

  font-family:'Abolition Regular', Impact, Charcoal, sans-serif;
  font-weight:normal;
  font-size: 3rem;
  line-height:1.1;
  
/*  font: 500 300%/1.1 'Abolition Regular', sans-serif;         ne znam da li sam ovo dobro skratio pitaj nekoga*/

}

h1 {
  font-size: 4rem;
}
/*dodavanje kontenta sa CSSom kada je samo dekorativne prirode koristi se before i afte
zanimljiv link sa simbolima https://www.toptal.com/designers/htmlarrows/arrows/
display block da bi sisao u red ispod
*/
h1::after {
    content: '\2193';
    display: block;
}


h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.25rem;
}



/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}
html {
  font-size: 1.25em; /* 20px on most screens */  
}
img {
  width: 100%; /* responsive images */
}


/* Main Styles --------------------- */

header {
    padding: 10vh 1rem;
    background: url(../img/mountains.jpg) center / cover no-repeat #f3753b;
    background-blend-mode: multiply;
    margin: -1rem -1rem -1rem;
    color: white;
}

header, footer {
    text-align: center;
}

.title {
    letter-spacing: 1px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
    hyphens: auto; /*za duge reci ili recenice, mozes i na HTML da stavis pravilo ili gde vec imas duge reci*/
}

section {
  padding: 4rem 0;
  border-bottom: 1px dashed #9599a9;
}

#wildlife {
  padding: 20% 15%;
  border-top: 12px solid #f3753b;
  border-radius: 12px 12px 0 0;
  background: url(../img/bear.jpg) #454959 center / cover;
  /* kod pozicije moze vise vrednosti ali da su povezane sa '/' -> a slash goes between the background-position and background-size values.
  
  https://css-tricks.com/almanac/properties/b/background/
  */
  color: white;
  box-shadow: inset 0 0 20px 10px rgba(0, 10, 30, .8);
}

.callout {
  display: block;
  width: 205px;
  padding: .25rem 1rem;
  border-radius: 20px/10px;
  margin: 1rem auto;
  box-shadow: 1px 2px 3px rgba(0, 10, 30,.5);
  background-image: linear-gradient(135deg, rgba(255,255,224,.8) 0%, rgba(250,100,50,.2) 50%), linear-gradient(#b40 0%, #d63 50%, #c51 51%, #e74 100%);
  color: white;
  text-align: center;
  font-size: 1.25rem;

}

.column:first-child {
  margin-bottom: 4rem;
}

/* Media Queries ------------------- */

@media screen and (min-width: 720px) {
  header {
    padding: 20vh 1rem;
  }
  h1 {
    font-size: 5rem;
  }
  .title {
    font-size: 1.25rem;
  }
  .intro {
    padding: 0 15%;
    font-size: 1.1rem;
  }
}